<!DOCTYPE html>
<html lang="vi"></html>
    <head>
        <meta charset="UTF-8">
        <title>Biểu trưng Liên bang</title>
        <link rel="icon" href="/static/images/icon.ico" type="image/x-icon"> 
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/script.js" defer></script>
    </head>
    <body>
        <div id="loading">
            <p class="loading-text">
                Loading<span>.</span><span>.</span><span>.</span>
            </p>
        </div>
        <button id="dark">
            <p><i>Chế độ tối</i></p>
        </button>
        <h1><big><big><i>Biểu trưng Liên bang</i></big></big></h1>
        <h2><big>Đây là nơi bạn tìm hiểu về biểu trưng của Cộng hòa Liên bang Tobavia</big></h2>
        <button onclick="location='/'">
            <h3><big>Trang chủ</big></h3>
        </button>
        <button onclick="location='/news'">
            <h3><big>Tobavia News</big></h3>
        </button>  
        <button onclick="location='/page/Bieutrung.html'">
            <h3><big>Biểu trưng Liên bang</big></h3>
        </button>
        <button onclick="location='/page/Cacquanchucchinhphu.html'" >
            <h3><big>Các Quan chức Chính phủ</big></h3>
        </button>
        <button onclick="location='/page/Caccoquanchinhphu.html'">
            <h3><big>Các Cơ quan Chính phủ</big></h3>
        </button> 
        <button onclick="location='/page/Cacbang.html'">
            <h3><big>Các Bang Tobavia</big></h3>
        </button>
        <button onclick="location='/page/Hienphapluat.html'">
            <h3><big>Hiến pháp và Luật pháp</big></h3>
        </button>
        <hr>    
        <h3><big><i>Cờ Liên bang</i></big></h3>        
        <img src="/static/images/Tobavia.png" width="400px">
        <h3><big><i>Quốc huy Liên bang</i></big></h3>
        <img src="/static/images/Quochuy.png" width="400px">

    </body>
</html>