<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8">
        <title>Các Bang Tobavia</title>
        <link rel="icon" href="/static/images/icon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/script.js" defer></script>
    </head>
    <body>
        <div id="loading">
            <p class="loading-text">
                Loading<span>.</span><span>.</span><span>.</span>
            </p>
        </div>
        <button id="dark">
            <p><i>Chế độ tối</i></p>
        </button>
        <h1><big><big><i>Các Bang Tobavia</i></big></big></h1>
        <h2><big>Đây là nơi bạn tìm hiểu về các Bang trong Liên bang Tobavia!</big></h2>
        <button onclick="location='/'">
            <h3><big>Trang chủ</big></h3>
        </button>
        <button onclick="location='/news'">
            <h3><big>Tobavia News</big></h3>
        </button>  
        <button onclick="location='/page/Bieutrung.html'">
            <h3><big>Biểu trưng Liên bang</big></h3>
        </button>
        <button onclick="location='/page/Cacquanchucchinhphu.html'" >
            <h3><big>Các Quan chức Chính phủ</big></h3>
        </button>
        <button onclick="location='/page/Caccoquanchinhphu.html'">
            <h3><big>Các Cơ quan Chính phủ</big></h3>
        </button> 
        <button onclick="location='/page/Cacbang.html'">
            <h3><big>Các Bang Tobavia</big></h3>
        </button>
        <button onclick="location='/page/Hienphapluat.html'">
            <h3><big>Hiến pháp và Luật pháp</big></h3>
        </button>
        <hr>    
        <h3><big>Bang Bắc Tobavia</big></h3>
        <img src="/static/images/Bangbac.png" width="400px">
        <P><big>Bang Bắc Tobavia là Trung tâm hành chính Liên bang vì đây là nơi đặt thủ đô của chính phủ ở Tỉnh Bắc Tobavia 2. Bang này có dân số là 5 người, diện tích khoảng 2,1 m² và mật độ dân số khoảng 3 người/m². Đây cũng là nơi các xung đột nội bộ diễn ra nhiều giữa các cơ quan và quan chức chính phủ nên thường được coi trọng an ninh hơn Bang Nam Tobavia. Bang Bắc Tobavia có 2 tỉnh: Tỉnh Bắc Tobavia 1, Tỉnh Bắc Tobavia 2. Trừ tỉnh Bắc Tobavia 2 đã nói ở trên, Tỉnh Bắc Tobavia 1 là tỉnh có dân số ít hơn tỉnh Bắc Tobavia 2, tỉnh này không có quá nhiều vai trò trừ việc là nơi đặt trụ sở của 2 cơ quan chính phủ và trở thành nơi thử nghiệm vũ khí của Cơ quan An ninh-Quốc phòng Tobavia. </big></P>
        <h3><big>Bang Nam Tobavia</big></h3>
        <img src="/static/images/Bangnam.png" width="400px">
        <p><big>Bang Nam Tobavia nếu không tính chỉ vùng tuyên bố chủ quyền nhưng không kiểm soát (Tỉnh Nam Tobavia 1 và Tỉnh Nam Tobavia 2) thì chỉ có dân số là 2 người với diện tích 1,05 m². Bang này là nơi đặt trụ sở thứ hai của Cơ quan An ninh-Quốc phòng Tobavia nên cũng được đảm bao an ninh rất tốt ở tỉnh Nam Tobavia 3. Hiện tại Bang đang có kế hoạch kiểm soát và lập chính quyền Tỉnh Nam Tobavia 1 và Tỉnh Nam Tobavia 2.</big></p>
        
    </body>
</html>