<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8">
        <title>Các Cơ quan Chính phủ</title>
        <link rel="icon" href="/static/images/icon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/script.js" defer></script>
    </head>
    <body>
        <div id="loading">
            <p class="loading-text">
                Loading<span>.</span><span>.</span><span>.</span>
            </p>
        </div>
        <button id="dark">
            <p><i>Chế độ tối</i></p>
        </button>
        <h1><big><big><i>Các Cơ quan Chính phủ</i></big></big></h1>
        <h2><big>Đây là nơi bạn tìm hiểu và các Cơ quan của Chính phủ Tobavia!</big></h2>
        <button onclick="location='/'">
            <h3><big>Trang chủ</big></h3>
        </button>
        <button onclick="location='/news'">
            <h3><big>Tobavia News</big></h3>
        </button>  
        <button onclick="location='/page/Bieutrung.html'">
            <h3><big>Biểu trưng Liên bang</big></h3>
        </button>
        <button onclick="location='/page/Cacquanchucchinhphu.html'" >
            <h3><big>Các Quan chức Chính phủ</big></h3>
        </button>
        <button onclick="location='/page/Caccoquanchinhphu.html'">
            <h3><big>Các Cơ quan Chính phủ</big></h3>
        </button> 
        <button onclick="location='/page/Cacbang.html'">
            <h3><big>Các Bang Tobavia</big></h3>
        </button>
        <button onclick="location='/page/Hienphapluat.html'">
            <h3><big>Hiến pháp và Luật pháp</big></h3>
        </button>
        <hr>    

        <h3><big>Cơ quan An ninh-Quôc phòng Tobavia</big></h3>
        <img src="/static/images/Coquananninhquocphong.png" width="400px">
        <p><big>Ngày thành lập: 25/12/2025</big></p>
        <p><big>Bộ trưởng: Nguyễn Quang Vinh và Trần An Nhi</big></p>
        <P><big>Cơ quan này là cơ quan duy nhất có 2 bộ trưởng với mỗi người chịu trách mảng riêng. Cơ quan có vai trò bảo đảm an ninh và chủ quyền của Tobavia. Vì vậy nên cơ quan này có vũ khí được dùng nhất là thước kẻ dẻo với sát thương đủ để chấn áp bất kì người nào chống phá, ngoài ra còn có một loại vũ khí khác là sách giáo khoa với cách sử dụng là cuộn sách lại rồi dùng tấn công như một cái chày và còn có chức năng như một cái loa. Cơ quan này là một trong những cơ quan quyền lực nhất liên bang khi có nguy cơ đảo chính chính phủ nên từ sau ngày 8/2/2026 chính phủ đã tước đi 40% quyền tự quyết của cơ quan này để đảm bảo ổn định liên bang.</big></P>
        <h3><big>Cơ quan Kinh tế Tobavia</big></h3>
        <img src="/static/images/Coquankinhte.png" width="400px">
        <p><big>Ngày thành lập: 25/12/2025</big></p>
        <p><big>Bộ trưởng: Nguyễn Trần Tuấn Kiệt</big></p>
        <p><big>Cơ quan kinh tế là cơ quan quan trọng của Tobavia với vai trò quản lý kinh tế và tài nguyên hiện có của Liên bang để dùng vào các việc quan trọng như chi tiêu quốc phòng, phân phát tài nguyên,... Cơ quan này vừa đưa anh Nguyễn Trần Tuấn Kiệt lên làm bộ trưởng từ ngày 1/2/2026 do bộ trưởng cũ là Nguyễn Thành Vinh đã chuyển hộ khẩu khỏi Tobavia nên ghế bộ trưởng bị trống trầm trọng. Vì vậy khi có bộ trưởng mới thì cơ quan vẫn chưa ổn định nên kinh tế liên bang đang bị đóng băng.</big></p>
        <h3><big>Cơ quan Vấn đề Liên bang Tobavia</big></h3>
        <img src="/static/images/Coquanvandelienbang.png" width="400px">
        <p><big>Ngày thành lập: 6/1/2026</big></p>
        <p><big>Bộ trưởng: Trần Tố Uyên</big></p>
        <p><big>Đây là cơ quan quan trọng thứ hai của liên bang với nhiệm vụ giải quyết các vấn đề trong nội bộ liên bang. Dù quan trọng là vậy nhưng cơ quan này lại có quyền lực cũng như quyền tự quyết yếu nhất liên bang nên hay bị bỏ qua khi đưa một nghị quyết mới. Cơ quan này có bộ trưởng duy nhất từ lúc thành lập đến giờ là chị Trần Tố Uyên nên cơ quan cực kì ổn định. Hiện cơ quan đang trong quá trình phát triển.</big></p>

    </body>

</html>